@{
    ViewData["Title"] = "Контакты";
}
<div class=" text-center">
    <h1 class="display-1">Наши контакты:</h1>
    
    <p>Гитхаб: <a href="https://github.com/hotlole">https://github.com/hotlole</a></p>
    <p>Телеграмм: <a href="https://t.me/hotlole">hotlole</a></p>
    <p>Телефон: +79835956730</p>
    

</div>

