<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Настройка внутренних логов NLog -->
	<internalLogLevel>Warn</internalLogLevel>
	<internalLogFile>internal-nlog.txt</internalLogFile>

	<!-- Настройка минимального уровня логирования -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<!-- Логирование в файл -->
		<target xsi:type="File" name="fileTarget" fileName="C:\Users\Данила\OneDrive\Рабочий стол\проекты С#\Шабашка.рф\Logs\logfile.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=toString,StackTrace}" />

		<!-- Логирование на консоль -->
		<target xsi:type="Console" name="consoleTarget" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=toString,StackTrace}" />
	</targets>

	<rules>
		<!-- Минимальный уровень логирования для всех логгеров -->
		<logger name="*" minlevel="Info" writeTo="fileTarget,consoleTarget" />
	</rules>
</nlog>

