@{
    ViewData["Title"] = "Шабашка.ru";
}
 


<div class=" text-center">
    <h1 class="display-1">Шабашка.ru</h1>
    <p>(или как поднять бабок)</p>
    <p><a href="https://github.com/hotlole">created by Hotlole</a>.</p>
</div>


<div class="card col-md-6">
    <p>Посмотрите наши лучшие статьи по заработку</p>
    <a href="/Articles">
        <p>Статьи</p>
        
        <img src="@ViewData["ImageUrl1"]" alt="My Image" />
    </a>
</div>




    

<div class="card col-md-6">
    <p>Заработайте по моим реферальным ссылкам</p>
    <p>(Халява нереальная)</p>
    <a href="/Refferal">
        <p>Реферальные ссылки</p>
        <img src="@ViewData["ImageUrl2"]" alt="My Image" />
    </a>
</div>
