@{
    ViewData["Title"] = "Политика Конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>
    Администрация ресурса уведомляет, что вся приведённая информация представлена в ознакомительных целях.

    Любые противозаконные действия, осуществляемые кем-либо и/или оказавшие вред равно как и ущерб, не имеют никакого отношения к ресурсу и его субьектам.

    Информация не является рекламой, призывом к действию или иным форматом побуждения к противоправной деятельности.

    Нарушение законодательства РФ карается законом. Все персонажи являются вымышленными, а совпадения – случайными.

    Будьте благоразумны..
    
</p>
<img src="@ViewData["ImageUrl"]" width="750" height="450" />
