<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о заработке</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .info-text {
            color: floralwhite; /* Цвет текста */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <p class="info-text">
            ⚠️Вся информация предоставлена исключительно в ознакомительных целях.
            <br><br>
            СДЕЛАТЬ СУММУ НА БАНАНАХ? ДА НУ НАХ
            <br><br>
            ПРИВЕТ АБУЗЕРЫ! Сегодня на повестке дня гуляет хайповая тема, а именно заработок на фарме бананов и яиц прямиком в Steam... Cпросишь - чего бл#ть? А я отвечу:
            <br><br>
            Регистрация
            <br>
            Кормилица проектов, которые мы включили в эту статью.
            <br><br>
            Переходим в Steam и регистрируемся — <a href="#">ТЫК</a>
            <br><br>
            Подтверждаем почту:
            <br><br>
            Устанавливаем лаунчер и запускаем его:
            <br><br>
            Banana
            <br>
            Теперь нам нужно скачать нашу первую фармилку бабок
            <br><br>
            Переходим по <a href="#">ссылке</a> и скачиваем игру. Скачали? Заходим и видим БАНАН
            <br><br>
            Нажимаем 30-50 раз, закрываем, и вот он — первый банан в копилке!
            <br><br>
            И тут у нас развилка: можно прыгать каждые три часа и собирать максимум бананов, или заходить раз в 18 часов и получать как обычные, так и редкие бананы.
            <br><br>
            Итак, c одного аккаунта выловим в худшем случае 5-7 рублей, но есть шанс, что словите банан и за 100, и за несколько тысяч рублей:
            <br><br>
            Доп проекты:
            <br>
            Eggs
            <br>
            Проект, у которого дропы выпадают примерно раз в полтора-два часа, а цены пока смешные, и официальной инфы от разработчиков нет.
            <br><br>
            Есть два типа дропов: яйца и темы на заднем фоне яиц. Причём, забавная штука, яйца стоят дороже, чем эти темы. Но темы тоже не мимо кассы — с их помощью можно менять скин в приложухе.
            <br><br>
            Как найти эту игру, я думаю, что ты запомнил - вот <a href="#">ссылка</a>
            <br><br>
            Вы только взгляните на стоимость редких яиц, даже лысина Стетхема позавидует их стоимости:
            <br><br>
            Cucumber
            <br>
            С этим проектом вообще полная загадка. Отслеживать дропы — это как пытаться поймать единорога: за 6 часов иногда удаётся урвать только пару дропов.
            <br><br>
            Инфы от разрабов ноль, а цены такие, что на шаверму не всегда хватит. Правда, есть редкие дропы, но это из разряда "мне фортануло".
            <br><br>
            Но есть неплохая идея: не парься насчет вложений, просто фармь в своё удовольствие и возможно что-то перепадет.
            <br><br>
            Так выглядит приложуха - вот <a href="#">ссылка</a>
            <br><br>
            Как увеличить прибыль?
            <br>
            Да проще простого — масштабируемость, мастера!
            <br><br>
            Больше аккаунтов — больше бананов. 100 аккаунтов в день — и у вас уже минимум 500-800 рублей в кармане.
            <br><br>
            Для перезапуска просто выходим из одного аккаунта и залетаем в другой. Кто сказал, что только в играх можно фармить? Вот она, реальная жизнь!
            <br><br>
            Или можно запустить этот процесс на "турбо" режим вот так:
            <br><br>
            Вам понадобится прога Sandboxie. Скачиваем её с GitHub — <a href="#">ТЫК</a>, и берём ту версию, что на скриншоте ниже:
            <br><br>
            После установки и запуска программы нас приветствует вот такое окошко:
            <br><br>
            Просто жмите "Далее" до этого окна, а здесь оставьте только вторую галочку:
            <br><br>
            Теперь при клике правой кнопкой мыши на значок "Steam", у вас появится опция запуска через песочницу.
            <br><br>
            Перед запуском в песочнице - выйдете из своего личного аккаунта Steam через обычный запуск
            <br><br>
            В появившемся окне выбираете опцию "Запустить в новой песочнице":
            <br><br>
            Далее, нужно тыкнуть "Стандартная песочница":
            <br><br>
            Затем будет следовать стандартное окно авторизации стима
            <br>
            Активация аккаунта Steam
            <br>
            Единственный прикол, с которым придется заморочиться — это активация аккаунта. Это как последний босс в игре: вроде бы ничего страшного, но нервы потреплет.
            <br><br>
            Есть два варианта:
            <br><br>
            Привязка номера
            <br>
            Депозит 5 долларов на баланс Steam
            <br><br>
            При первом варианте: через 15 дней после привязки, у нас распахнутся ворота для трейдов, и мы сможем перекинуть все богатства с фермы на основной аккаунт.
            <br><br>
            Но есть и второй вариант: через 10 дней у нас откроется торговая площадка Steam. Плюс, эти деньги будут спокойно лежать на вашем балансе, а вы их сможете вывести с помощью скинов из игр (подробнее опишу ниже).
            <br><br>
            Разберем подробнее каждый из вариантов:
            <br><br>
            Первый вариант
            <br>
            Устанавливаем программу SDA — <a href="#">ТЫК</a>
            <br><br>
            Разархивируем архив
            <br><br>
            Запускаем программу
            <br><br>
            Окно приложения выглядит так:
            <br><br>
            После этого переходим на сайт покупки номеров
            <br><br>
            Можете взять этот — <a href="#">ТЫК</a>
            <br><br>
            Регистрируемся и пополняем баланс, а далее ищем номера "Steam":
            <br><br>
            Один номер сейчас стоит 1,5 рубля (цена может изменится)
            <br><br>
            Дальше заходим в Steam, тыкаем на свой логин (он у нас справа сверху), выбираем раздел аккаунта и жмём на привязку номера:
            <br><br>
            После чего переходим в SDA и нажимаем на "Setup New Account":
            <br><br>
            Вам повторно придёт подтверждение номера телефона, после чего аккаунт привяжется к SDA
            <br><br>
            Второй способ
            <br>
            Нужно пополнить аккаунт стим. Но это тоже не совсем легкая задача, потому что не так просто пополнить его в России. Но я нашел вариант:
            <br><br>
            Для этого я использовал МТС Банк:
            <br><br>
            Переходим в раздел "Платежи" и в поисковой строке находим "Steam":
            <br><br>
            В открывшемся окне вводим логин и сумму платежа:
            <br><br>
            Комиссия на пополнение около 15-20% (комиссия и курс доллара волатилен и может меняться)
            <br><br>
            Чтобы разобраться, сколько денег нужно закинуть, заглядываем в раздел аккаунта и ныряем в подраздел "История покупок".
            <br><br>
            Сумма пополнения может быть в долларах.
            <br><br>
            Чтобы выводить бабки из стима, можно прикупить предметы из популярных игр (типа Доты 2 или CS 2) и закинуть их на основной аккаунт. Только имей в виду, если номер телефона не привязан, трейд зависнет на 15 дней.
            <br><br>
            Заключение:
            <br>
            Мы сделали ферму, теперь осталось только ЗАРАБАТЫВАТЬ!
            <br>
            Проекты годные по нашему мнению, но проживут скорее всего недолго... (что конечно печально)
            <br><br>
            Не теряй времени, приступай к схеме!
        </p>
    </div>
</body>
</html>
