<p>
	⚠️Вся информация предоставлена исключительно в ознакомительных целях.
	СДЕЛАТЬ СУММУ НА БАНА НАХ? ДА НУ НАХ
	ПРИВЕТ АБУЗЕРЫ! Сегодня на повестке дня гуляет хайповая тема, а именно заработок на фарме бананов и яиц прямиком в Steam... Cпросишь - чего бл#ть? А я отвечу:

	Регистрация
	Кормилица проектов, которые мы включили в эту статью.

	Переходим в Steam и регистрируемся — ТЫК

	Подтверждаем почту:

	Устанавливаем лаунчер и запускаем его:

	Banana
	Теперь нам нужно скачать нашу первую фармилку бабок

	Переходим по ссылке и скачиваем игру. Скачали? Заходим и видим БАНАН

	Нажимаем 30-50 раз, закрываем, и вот он — первый банан в копилке!

	И тут у нас развилка: можно прыгать каждые три часа и собирать максимум бананов, или заходить раз в 18 часов и получать как обычные, так и редкие бананы.

	Итак, c одного аккаунта выловим в худшем случае 5-7 рублей, но есть шанс, что словите банан и за 100, и за несколько тысяч рублей:

	Доп проекты:
	Eggs
	Проект, у которого дропы выпадают примерно раз в полтора-два часа, а цены пока смешные, и официальной инфы от разработчиков нет.

	Есть два типа дропов: яйца и темы на заднем фоне яиц. Причём, забавная штука, яйца стоят дороже, чем эти темы. Но темы тоже не мимо кассы — с их помощью можно менять скин в приложухе.

	Как найти эту игру, я думаю, что ты запомнил - вот ссылка

	Вы только взгляните на стоимость редких яиц, даже лысина Стетхема позавидует их стоимости:

	Cucumber
	С этим проектом вообще полная загадка. Отслеживать дропы — это как пытаться поймать единорога: за 6 часов иногда удаётся урвать только пару дропов.

	Инфы от разрабов ноль, а цены такие, что на шаверму не всегда хватит. Правда, есть редкие дропы, но это из разряда "мне фортануло".

	Но есть неплохая идея: не парься насчет вложений, просто фармь в своё удовольствие и возможно что-то перепадет.

	Так выглядит приложуха - вот ссылка

	Как увеличить прибыль?
	Да проще простого — масштабируемость, мастера!

	Больше аккаунтов — больше бананов. 100 аккаунтов в день — и у вас уже минимум 500-800 рублей в кармане.

	Для перезапуска просто выходим из одного аккаунта и залетаем в другой. Кто сказал, что только в играх можно фармить? Вот она, реальная жизнь!

	Или можно запустить этот процесс на "турбо" режим вот так:

	Вам понадобится прога Sandboxie. Скачиваем её с GitHub — ТЫК, и берём ту версию, что на скриншоте ниже:

	После установки и запуска программы нас приветствует вот такое окошко:

	Просто жмите "Далее" до этого окна, а здесь оставьте только вторую галочку:

	Теперь при клике правой кнопкой мыши на значок "Steam", у вас появится опция запуска через песочницу.

	Перед запуском в песочнице - выйдете из своего личного аккаунта Steam через обычный запуск
	В появившемся окне выбираете опцию "Запустить в новой песочнице":

	Далее, нужно тыкнуть "Стандартная песочница":

	Затем будет следовать стандартное окно авторизации стима
	Активация аккаунта Steam
	Единственный прикол, с которым придется заморочиться — это активация аккаунта. Это как последний босс в игре: вроде бы ничего страшного, но нервы потреплет.

	Есть два варианта:

	Привязка номера
	Депозит 5 долларов на баланс Steam
	При первом варианте: через 15 дней после привязки, у нас распахнутся ворота для трейдов, и мы сможем перекинуть все богатства с фермы на основной аккаунт.

	Но есть и второй вариант: через 10 дней у нас откроется торговая площадка Steam. Плюс, эти деньги будут спокойно лежать на вашем балансе, а вы их сможете вывести с помощью скинов из игр (подробнее опишу ниже).

	Разберем подробнее каждый из вариантов:

	Первый вариант
	Устанавливаем программу SDA — ТЫК

	Разархивируем архив

	Запускаем программу

	Окно приложения выглядит так:



	После этого переходим на сайт покупки номеров

	Можете взять этот — ТЫК

	Регистрируемся и пополняем баланс, а далее ищем номера "Steam":

	Один номер сейчас стоит 1,5 рубля (цена может изменится)

	Дальше заходим в Steam, тыкаем на свой логин (он у нас справа сверху), выбираем раздел аккаунта и жмём на привязку номера:

	После чего переходим в SDA и нажимаем на "Setup New Account":

	Вам повторно придёт подтверждение номера телефона, после чего аккаунт привяжется к SDA
	Второй способ
	Нужно пополнить аккаунт стим. Но это тоже не совсем легкая задача, потому что не так просто пополнить его в России. Но я нашел вариант:

	Для этого я использовал МТС Банк:

	Переходим в раздел "Платежи" и в поисковой строке находим "Steam":

	В открывшемся окне вводим логин и сумму платежа:

	Комиссия на пополнение около 15-20% (комиссия и курс доллара волатилен и может меняться)
	Чтобы разобраться, сколько денег нужно закинуть, заглядываем в раздел аккаунта и ныряем в подраздел "История покупок".

	Сумма пополнения может быть в долларах.
	Чтобы выводить бабки из стима, можно прикупить предметы из популярных игр (типа Доты 2 или CS 2) и закинуть их на основной аккаунт. Только имей в виду, если номер телефона не привязан, трейд зависнет на 15 дней.
	Заключение:
	Мы сделали ферму, теперь осталось только ЗАРАБАТЫВАТЬ!
	Проекты годные по нашему мнению, но проживут скорее всего недолго... (что конечно печально)

	Не теряй времени, приступай к схеме!
</p>