
@{
    ViewData["Title"] = "Referral links";
}



<div class=" text-center">
    <h1 class="display-1">заработайте на Альфа банке до 3000₽ по моей ссылке</h1>

    <div class="card col-md-7">
        <p>Cсылка↓↓↓↓↓</p>
        <a href="https://alfa.me/lChHZ3">
            <img src="@ViewData["ImageUrl"]" alt="My Image" />
        </a>
    </div>
</div>
<p>Как это работает? </p>
<p>-оформляем  карту по ссылке</p>
<p>-ожидаем доставку карты</p>
<p>-совершаем покупку на любую сумму </p>
<p>-вуаля, деньги придут примерно через неделю </p>
<p>-фиксируем профит </p>


